<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="footer-info">
                <li><i class="fas fa-map-marker-alt"></i> 868 Fake Street, New York</li>
                <li><i class="fas fa-mobile-alt"></i> (+00) 025-1234-5678</li>
                <li><i class="far fa-envelope"></i> themesky.info@gmail.com</li>
                <li>
                    <ul class="list-icons">
                        <li class="facebook"><a href="#" target="_blank" title=""><i class="fab fa-facebook-f"></i><span class="ts-tooltip social-tooltip">Facebook</span></a></li>				
                        <li class="twitter"><a href="#" target="_blank" title=""><i class="fab fa-twitter"></i><span class="ts-tooltip social-tooltip">Twitter</span></a></li>
                        <li class="flickr"><a href="#" target="_blank" title=""><i class="fab fa-flickr"></i><span class="ts-tooltip social-tooltip">Flickr</span></a></li>
                        <li class="vimeo"><a href="#" target="_blank" title=""><i class="fab fa-vimeo-square"></i><span class="ts-tooltip social-tooltip">Vimeo</span></a></li>
                </li>
            </ul>
        </div>
        <div class="col-md-8 row">
            <div class="col-md-4">
                <h3>POLICIES</h3>
                <ul>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>  
                </ul>
            </div>
            <div class="col-md-4">
                <h3>POLICIES</h3>
                <ul>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>  
                </ul>
            </div>
             <div class="col-md-4">
                <h3>POLICIES</h3>
                <ul>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>
                    <li>Returns And Exchanges</li>  
                </ul>
            </div>
        </div>
    </div>
</div>