<header>
    <div class="header-light row">
        <div class="logo-wrapper col-md-3">
            <div class="logo">
                <a href="https://demo.theme-sky.com/enzy-sneaker/">
                    <img src="img/logo-light.png"
                    alt="Enzy" title="Enzy" class="sticky-logo">
                 </a>
            </div>
        </div>
        <div class="menu-wrapper col-md-6">
            <div class="menu">
                <nav>
                    <ul id="menu-menu-mini" class="menu-parrent">
                        <li class="menu-item">
                            <a href="#"><span class="menu-label">NEW ARRIVALS</span></a>
                            <ul class="sub-menu">
                                <li>a</li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#"><span class="menu-label">MEN</span></a>
                        </li>
                        <li class="menu-item">
                            <a href="#"><span class="menu-label">WOMEN</span></a></li>
                        <li class="menu-item">
                            <a href="#"><span class="menu-label">BLOG</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="right-wrapper col-md-3">
            <div class="rigth-menu">
                <nav>
                    <ul>
                        <li id="menu-item">
                            <a href="#"><i class="fas fa-search"></i></a><span class="ts-menu-drop-icon"></span>
                        </li>
                        <li id="menu-item-16035">
                            <a href="#"><i class="fas fa-user"></i></a><span class="ts-menu-drop-icon"></span>
                        </li>
                        <li id="menu-item-16035">
                            <a href="#"><i class="fas fa-shopping-cart"></i></a><span class="ts-menu-drop-icon"></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>